/*Section 4 - Serviços*/ 
/*Cards*/
.container_cards{ 
    max-width: 1400px;
    min-width: 0px;
    margin-inline: auto; /* centraliza o bloco quando a tela é maior que o max-width */
    display: grid;
    justify-content: center;
    gap: 2rem;
    overflow: hidden;
}

article{
    background-color: #191818;
    height: 180px;
    width: 260px;
    border-radius: 6px;
    border: solid rgb(42, 41, 41);
    box-shadow: 5px 5px 15px rgba(55, 55, 55), /*sombreamento dos cards*/
              -5px -5px 15px rgb(55, 55, 55);
    outline: none;
} 

p{ /*referente ao conteudo dentro dos cards*/
  margin-left: 1rem;
  margin-top: 1.2rem;
  font-size: 14px;
}

h3{ /*Referente aos titulos dentro dos cards*/ 
margin-left: 12px;
display: inline-block;
font-size: 15px;
position: relative;
bottom: 10px;

}

.cards{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    overflow: hidden;
    scrollbar-width: none;
    width: fit-content;
    will-change: transform;
    animation: scrollcards 32s linear infinite;} /*tempo da animação dos cards*/

.cardsB{
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
    overflow: hidden;
    scrollbar-width: none;
    width: fit-content;
    will-change: transform;
    animation: scrollcardsBReverse 32s linear infinite;}

    
/* Animação */
@keyframes scrollcards{
  0% {transform: translate3d(0, 0, 0);}
  100% {transform: translate3d(-50%, 0, 0);}
}

@keyframes scrollcardsBReverse{
  0% {transform: translate3d(-50%, 0, 0);}
  100% {transform: translate3d(0, 0, 0);}
}

#icones{ /*Icones dentro dos cards*/
  height: 28px;
  width: 28px;
  border-radius: 2px;
  box-shadow: 0 0 0 8px black;
  margin-left: 6%;
  margin-top: 6%;}
 